.Win_header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.Win_header >span{
    font-size: 1.4rem;
}
button{
    background-color: transparent;
    border: none;
}
input{
    margin: 2rem auto ;
    padding-bottom: 0.1rem;
    align-items: center;
    width: 90%;
    font-size: 2rem;
    height: fit-content;
}